
<div class="grid grid-nogutter mt-7">
    <div class="col-12 ms:col-12 md:col-6 lg:col-6 xl:col-6 mt-5">
        <mat-list class="justify-content-center mt-0 mr-5">
            <mat-list-item>
                <span class="title-color headline-1"><h1 style="font-size: 38px!Important;">Practica Oct 19</h1></span>
            </mat-list-item>
            <br>
            <mat-list-item style="height:auto" class="color-white">
                <div matListItemLine>Lorem ipsum sit amen</div>
            </mat-list-item>
            <br>
            <br>
            <br>
            <mat-list-item style="height:auto" class="color-white">
                <a href="https://mail.google.com" target="_blank"><img src="./assets/gmail.png" class="image-1" alt="Software Developer" ></a>
                <a href="https://www.linkedin.com/" target="_blank"><img src="./assets/linkedin.png" class="image" alt="Software Developer" ></a>
                <a href="https://github.com/" target="_blank"><img src="./assets/github.png" class="image" alt="Software Developer" ></a>
            </mat-list-item>
            <br>
            <br>

        </mat-list>

    </div>
    <div class="col-12 ms:col-12 md:col-6 lg:col-6 xl:col-6 mt-5">
        <mat-list class="justify-content-center">
            <img mat-card-image src="./assets/home_banner.svg" alt="Software Developer" >
        </mat-list>
    </div>
</div>
